{% extends 'base.html' %}

{% block content %}
  <h2>Confirm Payment</h2>
  <p>Appointment ID: {{ appointment.a_id }}</p>
  <p>Date: {{ appointment.schedule.date }}</p>
  <p>Time: {{ appointment.schedule.start_time }}</p>
  <p>Total Price: {{ appointment.calculate_total_price }}</p>
  <form method="post" action="{% url 'confirm_payment' doctor_id=request.session.selected_doctor date=request.session.selected_date time=request.session.selected_time %}">
    {% csrf_token %}
    {{ payment_form }}
    <button type="submit">Submit</button>
</form>


  {% if payment_form.errors %}
    <ul class="errorlist">
      {% for error in payment_form.errors %}
        <li>{{ error }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock %}