{% extends 'base.html' %}
{% load static %}

{% block title %}Welcome, {{ user.name }}{% endblock %}


{% block content %}
  <h2>Welcome, {{ user.name }}</h2>

  <!-- Display messages -->
  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}

  <!-- Navigation links -->
  <nav>
    <ul>
      <li><a href="{% url 'doctor_review_form' %}">Leave a Review</a></li>
      
    </ul>
  </nav>

  <!-- Middle content with images acting as buttons -->
  <div class="button-images-container">
    <a href="{% url 'book_appointment' %}">
      <img src="{% static 'images/Book-Doctor-Appointment.jpg' %}" class="img-responsive" alt="Book Doctor Appointment">
    </a>
    <a href="{% url 'book_hospital_room' %}">
      <img src="{% static 'images/Book-Hospital-Room.jpg' %}" class="img-responsive" alt="Book Hospital Room">
    </a>
  </div>

  <!-- Additional content if needed -->

{% endblock %}
