{% extends 'base.html' %}
{% load static %}

{% block title %}Welcome, {{ user.name }}{% endblock %}


{% block content %}
  <h2>Welcome, {{ user.name }}</h2>
  <section class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
            </button>
        </div>
        <!-- MENU LINKS -->
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'profile' %}">Profile</a></li>
                <li><a href="{% url 'my_appointments' %}">My Appointments</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
                <li><a href="{% url 'all_hospitals' %}">All Hospital Branches</a></li>
                <li><a href="{% url 'all_doctors' %}">All Doctors</a></li>
                
                <!-- <li><a href="{% url 'logout' %}">Logout</a></li> -->
                <!-- Add your other menu items here -->
            </ul>
        </div>
    </div>
</section>

  <!-- Display messages -->
  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}

 
  <!-- Middle content with images acting as buttons -->
  <div class="button-images-container">
    <a href="{% url 'book_appointment' %}">
      <img src="{% static 'images/Book-Doctor-Appointment.jpg' %}" class="img-responsive" alt="Book Doctor Appointment">
    </a>
    <a href="{% url 'book_hospital_room' %}">
      <img src="{% static 'images/Book-Hospital-Room.jpg' %}" class="img-responsive" alt="Book Hospital Room">
    </a>
  </div>

  <!-- Additional content if needed -->

{% endblock %}
