<h2>My Appointments</h2>
<ul>
    {% for appointment in appointments %}
        <li>
            <strong>Date:</strong> {{ appointment.schedule.date }}
            <br>
            <strong>Time:</strong> {{ appointment.schedule.start_time }}
            <br>
            <strong>Doctor:</strong> {{ appointment.d_nid.name }}
            <br>
            <strong>Status:</strong> {{ appointment.status }}

            <!-- Form for deleting the appointment -->
            <form method="post" action="{% url 'delete_appointment' appointment.a_id %}">
                {% csrf_token %}
                <button type="submit">Delete Appointment</button>
            </form>
        </li>
    {% endfor %}
</ul>