{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">

  <div class="card border-0 shadow-lg p-4">
    <div class="patient-info mt-3">
      <h2 class="text-warning">User Information</h2>
      <p><strong>Name:</strong> {{ patient.name }}</p>
      <p><strong>Email:</strong> {{ patient.email }}</p>
      <p><strong>Phone:</strong> {{ patient.phone }}</p>
      <p><strong>Age:</strong> {{ patient.age }}</p>
      <p><strong>Gender:</strong> {{ patient.gender }}</p>
    </div>

    <div class="row mt-4">
      <div class="col-md-6">
        <form method="post" action="{% url 'edit' %}" class="card p-3">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="Submit" class="btn btn-warning">Edit</button>
        </form>
      </div>
      <div class="col-md-6">
        <a href="{% url 'delete_account' %}" class="btn btn-danger">Delete Account</a>
      </div>
    </div>
    <br><br>
    {% if medical_history %}
      <div class="medical-history mt-3">
        <h3 class="text-warning">Medical History</h3>
        <ul>
          {% if medical_history.disease_set.all %}
            <li>
              <strong>Diseases:</strong>
              {{ medical_history.disease_set.all|join:', ' }}
            </li>
          {% endif %}
          {% if medical_history.medicine_set.all %}
            <li>
              <strong>Medicines:</strong>
              {{ medical_history.medicine_set.all|join:', ' }}
            </li>
          {% endif %}
        </ul>
      </div>
    {% else %}
      <div class="no-history mt-3">
        <p>No medical history added. <a href="{% url 'update_medical_history' %}" class="btn btn-warning">Update it</a></p>
      </div>
    {% endif %}

    <div class="mt-4">
      <p class="text-warning">Click the 'update' button below to update your medical history.</p>
      <a href="{% url 'update_medical_history' %}" class="btn btn-info">Update</a>
    </div>
    <br><br>
  </div>

</div>

{% endblock %}