{% extends 'base.html' %}

{% block content %}
  <p>Name: {{ patient.name }}</p>
  <p>Email: {{ patient.email }}</p>
  <p>Phone: {{ patient.phone }}</p>
  <p>Age: {{ patient.age }}</p>
  <p>Gender: {{ patient.gender }}</p>

  {% if medical_history %}
    <h3>Medical History</h3>
    <ul>
      {% if medical_history.disease_set.all %}
        <li>
          <strong>Diseases:</strong>
          {{ medical_history.disease_set.all|join:', ' }}
        </li>
      {% endif %}
      {% if medical_history.medicine_set.all %}
        <li>
          <strong>Medicines:</strong>
          {{ medical_history.medicine_set.all|join:', ' }}
        </li>
      {% endif %}
    </ul>
  {% else %}
    <p>No medical history added. <a href="{% url 'update_medical_history' %}">Update it</a></p>
  {% endif %}

  <!-- Other content -->
  <form method="post" action="{% url 'edit' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="Submit" class="btn btn-light">Edit</button>
  </form>
  <br>
  <a href="{% url 'delete_account' %}">
    <button type="button" class="btn btn-danger">Delete Account</button>
  </a>
  <br>
  <a href="{% url 'update_medical_history' %}">Medical History Update</a>

{% endblock %}